{{ $authors := .Params.authors }}


<p class="lead mb-4" aria-label="authors and institutions">
  {{ range $index, $element := $authors }}
    {{ $name := findRE `(^[^\(\)]+)` $element }}
    {{ $institution := findRE `(\(.+\))` $element }}

    {{/* This has to be in one line to prevent blanks between commas */}}
    {{/* prettier-ignore-start */}}
    <span class="text-secondary">{{ with delimit $name "" }}{{ . }}{{ end }}</span>{{ with delimit $institution "" }}{{ . }}{{ end }}{{ if ne (len $authors) (add $index 1) }},{{ end }}
    {{/* prettier-ignore-end */}}
  {{ end }}
</p>
