{{ if (isset .Params "subtitle") }}
  <h1 class="text-break">
    {{ .Title }}:<br />
    <div class="h1-subhead">
      {{ .Params.subtitle }}
    </div>
  </h1>
{{ else }}
  <h1 class="text-break">
    {{ .Title }}
  </h1>
{{ end }}
