{{ $item := .item }}

<div id="{{ $item.key }}" class="bib-item pt-2 d-flex align-items-start">
  {{/* publication type icon */}}
  <div class="flex-column" aria-orientation="vertical">
    <i class="bi-bib-{{ anchorize $item.type }}" role="presentation" aria-hidden="true" title="Publikationstyp: {{ title $item.type }}"></i>
    <span class="visually-hidden">Publikationstyp: {{ title $item.type }}</span>
  </div>

  <div>
    {{/* output Zotero formatted items */}}
    {{ $item.bib | safeHTML }}

    {{/* tags */}}
    <div class="csl-bib-tags">
    {{ range $item.tags }}
      {{ $classes := "badge" }}
      {{ if hasPrefix . "FABIO: " }}
        {{ $classes = "fabio" | printf "%s %s" $classes }}
      {{ else if hasPrefix . "TA: " }}
        {{ if eq . "TA: Collections" }}
          {{ $classes = "bg-collections" | printf "%s %s" $classes }}
        {{ else if eq . "TA: Editions" }}
          {{ $classes = "bg-editions" | printf "%s %s" $classes }}
        {{ else if eq . "TA: Lexical Resources" }}
          {{ $classes = "bg-resources" | printf "%s %s" $classes }}
        {{ else if eq . "TA: Infrastructure/Operations" }}
          {{ $classes = "bg-io" | printf "%s %s" $classes }}
        {{ end }}
      {{ end }}
      <span class="{{ $classes }}">{{ . }}</span>
    {{ end }}
    </div>

    {{/* TODO: add copyable bibtex code (show on highlight or something) */}}
    {{/* <pre>{{ $item.bibtex }}</pre> */}}
  </div>
</div>
