<!doctype html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "header.html" . }}

    <div id="content">
      {{ block "main" . }}{{ end }}
      {{ if .Params.last_mod_today }}
        {{ partial "last-modified.html" (dict "lastmod" time.Now) }}
      {{ else }}
        {{ partial "last-modified.html" (dict "lastmod" .Lastmod) }}
      {{ end }}
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
