<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    {{ $styles := resources.Get "css/textplus-chatbot-vue.css" | resources.Fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">

</head>
<body>
    {{ $params := (dict
    "CHATBOT_API_URL" (.Param "CHATBOT_API_URL")
    "CHATBOT_APP_HOME_PATH" (.Param "CHATBOT_APP_HOME_PATH")
    "CHATBOT_OIDC_REDIRECT_PATH" (.Param "CHATBOT_OIDC_REDIRECT_PATH")
    "CHATBOT_OIDC_CLIENT_ID" (.Param "CHATBOT_OIDC_CLIENT_ID")
    "CHATBOT_OIDC_REALM" (.Param "CHATBOT_OIDC_REALM")
    "CHATBOT_OIDC_BASE_URL" (.Param "CHATBOT_OIDC_BASE_URL")) }}

    <div id="textplus-ai-assistant"></div>
    {{ $defines := dict "process.env.HUGO_ENVIRONMENT" (printf "%q" hugo.Environment) }}
    {{ $Js := resources.Get "js/chatbot.ts" | js.Build (dict "defines" $defines "params" $params) | resources.Fingerprint }}

    <script
        type="text/javascript"
        src="{{ $Js.RelPermalink }}"
        integrity="{{ $Js.Data.Integrity }}"
        async
        defer
    ></script>
</body>
</html>
