{{ define "main" }}
  <div class="container p-3 p-md-0">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        {{ partial "nav/breadcrumbs.html" . }}
        <h1 class="visually-hidden">{{ .Title }}</h1>
        <section class="post-content">{{ .Content }}</section>
      </div>
      {{ partial "bibliographie/sidebar-toc.html" . }}
    </div>
  </div>
{{ end }}