{{ $prefix := .prefix }}
{{ $suffix := .suffix }}
{{ $label := .label }}
{{ $placeholder := .placeholder }}
{{ $tooltip := .tooltip }}
{{ $required := .required | default false }}
{{ $rows := .rows | default 1 }}


<div class="col-md-12 d-flex align-items-center justify-content-between">
  <label for="{{ $prefix }}-form-{{ $suffix }}" class="form-label">
    {{ $label }}{{ if $required }}<span class="text-primary"> *</span>{{ end }}
  </label>
  {{ with $tooltip }}
    {{ partial "form/tooltip-icon.html" (dict "tooltip_text" $tooltip) }}
  {{ end }}
</div>
<div class="col-md-12">
  {{ if eq $rows 1 }}
    <input
      type="text"
      class="form-control"
      id="{{ $prefix }}-form-{{ $suffix }}"
      placeholder="{{ $placeholder }}"
    />
  {{ else }}
    <textarea
      class="form-control"
      id="{{ $prefix }}-form-{{ $suffix }}"
      placeholder="{{ $placeholder }}"
      rows="{{ $rows }}"
    ></textarea>
  {{ end }}
</div>
