{{ $prefix := .prefix }}
{{ $suffix := .suffix }}
{{ $label := .label }}
{{ $tooltip := .tooltip }}
{{ $required := .required | default false }}
{{ $options := .options }}


<div class="form-group d-flex align-items-center justify-content-between">
  <label for="{{ $prefix }}-form-{{ $suffix }}" class="form-label">{{ $label }}</label>
  {{ with $tooltip }}
    {{ partial "form/tooltip-icon.html" (dict "tooltip_text" $tooltip) }}
  {{ end }}
</div>
<select class="form-select" id="{{ $prefix }}-form-{{ $suffix }}">
  {{ range $option := $options }}
    {{ range $key, $label := $option }}
      <option value="{{ $key }}">{{ $label }}</option>
    {{ end }}
  {{ end }}
</select>
