{{ $prefix := .prefix }}
{{ $tooltip := .tooltip | default (i18n "tooltip-attachment") }}
{{ $label := .label | default ( i18n "attachment" )}}

<div class="col-md-12 d-flex align-items-center justify-content-between">
  <label for="{{ $prefix }}-form-attachment" class="form-label">{{ $label }}</label>
  {{ with $tooltip }}
    {{ partial "form/tooltip-icon.html" (dict "tooltip_text" $tooltip) }}
  {{ end }}
</div>
<div class="col-md-12">
  <div class="input-group">
    <input type="file" class="form-control" id="{{ $prefix }}-form-attachments" multiple />
    <button
      type="button"
      class="btn btn-light btn-form-file-upload"
      id="{{ $prefix }}-form-delete-attachments-button"
    >
      <i class="bi bi-x-circle"></i>
    </button>
  </div>
</div>
