{{ $prefix := .prefix }}


<div class="form-check">
  <input class="form-check-input" type="checkbox" id="{{ $prefix }}-form-privacy-policy-box" />
  <label class="form-check-label" for="{{ $prefix }}-form-privacy-policy-box">
    {{ i18n "consent-info" }}{{ partial "link.html" (dict "url" "privacy-policy" "text" (i18n "privacy-policy")) }}<span
      class="text-primary"
    >
      *</span
    >
  </label>
</div>
