{{ define "main" }}
  <div class="container p-3 p-md-0">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-7">
        <section class="mb-5 px-2 post-content">
          {{ .Content }}
        </section>
      </div>

      {{/* Right column */}}
      <aside class="col-lg-4 px-lg-5">
        {{ partial "sidebar/sidebar-blog.html" . }}
        {{ partial "sidebar/sidebar-events.html" . }}
      </aside>
    </div>
  </div>
{{ end }}
