<div class="d-none d-lg-block col-3">  
    {{/* TEXT+ DATA DOMAINS */}}
    <aside class="mb-4 pe-4">
      <h6 class="small text-gray-700 fw-light mb-2">{{ i18n "tplus-data-domains" }}</h6>
      <div class="d-flex flex-column gap-2">
        {{ range $index, $element := .Params.text_plus_domains }}
          {{ $classes := "btn btn-xs btn-outline-secondary text-start align-self-start" }}
          
          {{/* check if the data domain is one of the typical three
            data domains and apply according css classes
          */}}
          {{ if eq (lower $element) "collections" "sammlungen" }}
            {{ $classes = "collections text-collections border-collections" | printf "%s %s" $classes }}
          {{ else if eq (lower $element) "editions" "editionen" }}
            {{ $classes = "editions text-editions border-editions" | printf "%s %s" $classes }}
          {{ else if eq (lower $element) "lexical resources" "lexikalische ressourcen" }}
            {{ $classes = "resources text-resources border-resources" | printf "%s %s" $classes }}
          {{ else if eq (lower $element) "task area infrastructure/operations" "infrastructure/operations" "io" }}
            {{ $classes = "io text-io border-io" | printf "%s %s" $classes }}
          {{ end }}

          <button type="button" class="{{ $classes }}">
            {{ $element }}
          </button>
        {{ end }}
      </div>
    </aside>

    {{/* LANGUAGES */}}
    <aside class="mb-4 pe-4">
      <h6 class="small text-gray-700 fw-light mb-2">{{ i18n "languages" }}</h6>
      <div class="d-flex flex-wrap gap-2">
        {{ range $index, $element := .Params.languages }}
          {{ $classes := "btn btn-xs btn-outline-secondary text-start align-self-start" }}
          <button type="button" class="{{ $classes }}">
            {{ $element }}
          </button>
        {{ end }}
      </div>
    </aside>

    {{/* MODALITIES */}}
    <aside class="mb-4 pe-4">
      <h6 class="small text-gray-700 fw-light mb-2">{{ i18n "modalities" }}</h6>
      <div class="d-flex flex-wrap gap-2">
        {{ range $index, $element := .Params.modalities }}
          {{ $classes := "btn btn-xs btn-outline-secondary text-start align-self-start" }}
          <button type="button" class="{{ $classes }}">
            {{ $element }}
          </button>
        {{ end }}
      </div>
    </aside>
    
    {{/* DFG AREAS */}}
    <aside class="mb-4 pe-4">
      {{/* TODO: refactor own partial? */}}
      <h6 class="small text-gray-700 fw-light mb-2">{{ i18n "dfg-classification" }}</h6>
      <div class="d-flex flex-wrap gap-2">
        {{ range $index, $element := .Params.dfg_areas }}
          {{ $area_nr := findRE `([0-9\-]+)` $element  1 }}
          {{ $area_title := findRE `([^0-9]{2,})` $element  1 }}
          {{/* TODO: button link? */}}
          <button type="button" class="btn btn-xs btn-outline-secondary text-start">
            <span class="dfg-cat-nr">{{ with delimit $area_nr "" }}{{ . }}{{ end }}</span>
            <span>{{ with delimit $area_title "" }}{{ . }}{{ end }}</span>
          </button>
        {{ end }}
      </div>
    </aside>

    {{/* DESCRIPTIVE_AREAS */}}
    <aside class="mb-4 pe-4">
      <h6 class="small text-gray-700 fw-light mb-2">{{ i18n "classification-descriptive" }}</h6>
      <div class="d-flex flex-wrap gap-2">
        {{ range $index, $element := .Params.descriptive_areas }}
          {{ $classes := "btn btn-xs btn-outline-secondary text-start align-self-start" }}
          <button type="button" class="{{ $classes }}">
            {{ $element }}
          </button>
        {{ end }}
      </div>
    </aside>
  </div>
  