{{ if (isset .Params "subtitle") }}
  <h1 class="text-break">
    {{ .Title }}:<br />
    <div class="h1-subhead">
      {{ .Params.subtitle }}
    </div>
  </h1>
{{ else }}
  <h1 class="text-break">
    {{ .Title }}
  </h1>
{{ end }}
{{ with .Params.institutions }}
  {{/* displays list of institutions as comma-separated list */}}
  <h2 class="text-gray-700 h4">
  {{ delimit . ", " }}
  </h2>
{{ end }}
