{{ define "main" }}
  <div class="container p-3 p-md-0">
    <div class="row">
      {{ partial "community-data/sidebar.html" . }}
      <div class="col-lg-6">
        {{ partial "nav/breadcrumbs.html" . }}
        <article class="community-data d-flex flex-column gap-2 mb-5">
          <section class="mt-3">
            {{ partial "community-data/title.html" . }}
          </section>
          <section class="post-content">{{ .Content }}</section>
        </article>
      </div>
      {{ partial "sidebar/sidebar-toc.html" . }}
    </div>
  </div>
{{ end }}
