{{ define "main" }}
  <div class="container p-3 p-md-0">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        {{ partial "nav/breadcrumbs.html" . }}
        <h1 class="visually-hidden">{{ .Title }}</h1>
        <section class="post-content">{{ .Content }}</section>

        {{ $pages_by_date := (site.RegularPages.ByParam "start_date").Reverse }}
        {{ $event_pages := where $pages_by_date "Type" "event" }}

        {{ $past_event_pages := slice }}

        {{ range $event := $event_pages }}
          {{ $date := time (.Params.end_date | default .Params.start_date ) }}
          {{ if now.After $date }}
            {{ $past_event_pages = $past_event_pages | append $event }}
          {{ end }}
        {{ end }}

        {{ $paginator := .Paginate $past_event_pages 10 }}


        <div class="standout">
          <div class="container p-3 p-md-0">
            {{ $displayLanguage := site.Language }}
            {{ range $paginator.Pages }}
              {{ partial "event/event-list-single-event.html" . }}
            {{ end }}
          </div>
        </div>

        <div class="d-flex justify-content-center p-2 mt-3">
            {{ partial "pagination.html" (dict "page" . "page_anchor" "#vergangene-veranstaltungen") }}
        </div>
      </div>
      {{ partial "sidebar/sidebar-toc.html" . }}
    </div>
  </div>
{{ end }}
