{{ define "main" }}
{{/* TODO: all day event logic */}}
{{ $start_date := (time .Params.start_date) }}
{{ $end_date := time (.Params.end_date | default .Params.start_date) }}

{{ $two_day_event := ne $end_date.Day $start_date.Day }}
{{ $month_overlap := ne $end_date.Month $start_date.Month }}
{{ $year_overlap := ne $end_date.Year $start_date.Year }}


<div class="container p-3 p-md-0">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      {{ partial "nav/breadcrumbs.html" . }}
    </div>
  </div>
  <div class="row">
    {{ partial "event/date-time.html" . }}
    <div class="col-lg-6">
      <h2 class="text-secondary">{{ .Title }}</h2>
      <div class="h5 my-2 text-gray-600">{{ .Params.location }}</div>
      {{ partial "event/mobile-date-time.html" . }}
      {{ partial "header-image.html" . }}
      <p>{{ .Content }}</p>
      {{ if .Params.event_url }} 
        {{ $button_label := i18n "label-event-url" }}
        {{ if now.Before $end_date}}
          {{ $button_label = printf "%s / %s" $button_label (i18n "registration") }}
        {{ end }}
        {{ partial "link.html" (dict "url" .Params.event_url "text" $button_label "class" "btn btn-sm btn-outline-secondary float-end me-4") }}  
      {{ end }} 
      {{ if now.Before $end_date}}
        {{ if .Params.location_url }}
          {{ $button_label := i18n "label-location-url" }}
          {{ partial "link.html" (dict "url" .Params.location_url "text" $button_label "class" "btn btn-sm btn-outline-secondary float-end me-4") }}  
        {{ end }}
      {{ end }}
    </div>
    {{ partial "sidebar/sidebar-toc.html" . }}
  </div>
</div>
{{ end }}