{{ $community_data_list := where .Site.Pages "Type" "community-data" }}

{{/* TODO: delimit everywhere */}}


<div class="accordion" id="accordion-community-data">
  {{ range $index, $element := $community_data_list }}
    {{/* css identifiers may only contain letters, hyphens and underscores, urlized values still include dots */}}
    {{ $id_prefix := replaceRE `[^a-zA-Z0-9\-_]` "-" (urlize $element.Params.title) }}
    <div class="accordion-item">
      <h5 class="accordion-header" id="{{ $id_prefix }}-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ $id_prefix }}-collapse"
          aria-expanded="false"
          aria-controls="{{ $id_prefix }}-collapse"
        >
          {{ .Params.title }}{{ with .Params.subtitle }}
            <span class="ps-2 fw-light">({{ . }})</span>
          {{ end }}
        </button>
      </h5>
      <div
        id="{{ $id_prefix }}-collapse"
        class="accordion-collapse collapse"
        aria-labelledby="{{ $id_prefix }}-header"
        data-bs-parent="#accordion-community-data"
      >
        <div class="accordion-body p-4">
          <article>
            <h3 class="text-secondary">
              {{ partial "link.html" (dict "url" .RelPermalink "text" .Params.title) }}
              {{ with .Params.subtitle }}
                <span class="fw-light">({{ . }})</span>
              {{ end }}
            </h3>
            {{ with .Params.institutions }}
              {{/* displays list of institutions as comma-separated list */}}
              <h5 class="text-gray-700">
                {{ delimit . ", " }}
              </h5>
            {{ end }}
            {{ with .Params.text_plus_domains }}
              <div class="d-flex gap-2 my-3" aria-label="text plus data domains">
                {{ range $index, $element := . }}

                  {{ $classes := "btn btn-xs btn-outline-secondary text-start align-self-start" }}

                  {{/* check if the data domain is one of the typical three
                    data domains and apply according css classes
                  */}}
                  {{ if eq (lower $element) "collections" "sammlungen" }}
                    {{ $classes = "collections text-collections border-collections" | printf "%s %s" $classes }}
                  {{ else if eq (lower $element) "editions" "editionen" }}
                    {{ $classes = "editions text-editions border-editions" | printf "%s %s" $classes }}
                  {{ else if eq (lower $element) "lexical resources" "lexikalische ressourcen" }}
                    {{ $classes = "resources text-resources border-resources" | printf "%s %s" $classes }}
                  {{ else if eq (lower $element) "task area infrastructure/operations" "infrastructure/operations" "io" }}
                    {{ $classes = "io text-io border-io" | printf "%s %s" $classes }}
                  {{ end }}


                  <button type="button" class="{{ $classes }}">
                    {{ $element }}
                  </button>
                {{ end }}
              </div>
            {{ end }}
            <div class="vstack gap-2">
              {{ with .Params.languages }}
                <div>
                  <span class="small text-gray-500 d-block">{{ i18n "languages" }}</span>
                  {{/* displays languages as comma-separated list */}}
                  <span class="fw-medium">{{ delimit . ", " }}</span>
                </div>
              {{ end }}

              {{ with .Params.modalities }}
                <div>
                  <span class="small text-gray-500 d-block">{{ i18n "modalities" }}</span>
                  {{/* displays modalities as comma-separated list */}}
                  <span class="fw-medium">{{ delimit . ", " }}</span>
                </div>
              {{ end }}

              {{ with .Params.dfg_areas }}
                <div>
                  <span class="small text-gray-500 d-block">{{ i18n "dfg-classification" }}</span>
                  {{ range $index, $element := . }}
                    {{ $area_nr := findRE `([0-9\-]+)` $element  1 }}
                    {{ $area_title := findRE `([^0-9]{2,})` $element  1 }}


                    <a class="text-decoration-none pe-2"
                      ><span class="fw-bold pe-2"
                        >{{ with delimit $area_nr "" }}{{ trim . " " }}{{ end }}</span
                      >{{ with delimit $area_title "" }}{{ trim . " " }}{{ end }}</a
                    >
                  {{ end }}
                </div>
              {{ end }}

              {{ with .Params.descriptive_areas }}
                <div class="mb-3">
                  <span class="small text-gray-500 d-block">{{ i18n "classification-descriptive" }}</span>
                  <span class="fw-medium">{{ delimit . ", " }}</span>
                </div>
              {{ end }}
              <p>
                {{ .Content }}
              </p>
            </div>
          </article>
        </div>
      </div>
    </div>
  {{ end }}
</div>
