{{ $support_js := resources.Get "js/support.ts" }}
{{/* this allows to use values from i18n in js/ts code but the file path has to be language-specific */}}

{{ $language_specific_js_path := printf "js/support-%s.ts" ($.Site.Param "languageHref") }}
{{ $language_specific_js := $support_js | resources.ExecuteAsTemplate $language_specific_js_path . }}
{{ $transformed_js := $language_specific_js | js.Build | resources.Minify | resources.Fingerprint }}


<script
  type="text/javascript"
  src="{{ $transformed_js.RelPermalink }}"
  integrity="{{ $transformed_js.Data.Integrity }}"
  async
  defer
></script>

{{ $prefix := "ds" }}
<div class="row g-3 mt-2">
  <!-- Title Field -->
  <div class="col-12">
    {{ partial "form/input-generic-textfield.html" (dict
      "prefix" $prefix "suffix" "title" "label" (i18n "title")
      "placeholder" (i18n "placeholder-title") "tooltip" (i18n "tooltip-title") "required" true)
    }}
  </div>

  <!-- Data Description Field -->
  <div class="col-12">
    {{ partial "form/input-generic-textfield.html" (dict "prefix" $prefix "suffix" "desc" "label" (i18n "label-description") "placeholder" (i18n "placeholder-description") "tooltip" (i18n "tooltip-description") "rows" "4" "required" true) }}
  </div>

  <!-- Topic Dropdown -->
  <div class="col-md-12">
    {{ partial "form/input-drop-down.html" (dict
      "prefix" $prefix "suffix" "textplus-area" "label" (i18n "topic-label2")
      "tooltip" (i18n "tooltip-textplus-area-ds")
      "options" (slice
        (dict "Weiß nicht" (i18n "drop-down-no-idea"))
        (dict "Datendomäne Collections" (i18n "drop-down-collections"))
        (dict "Datendomäne Lexikalische Ressourcen" (i18n "drop-down-lexical-resources" ))
        (dict "Datendomäne Editionen" ( i18n "drop-down-editions"))
      ))
    }}
  </div>
  <!-- Accordion Detailed Information -->
  <div class="accordion ds-form-accordion" id="ds-form-detailed-information-accordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="ds-form-detailed-information-accordion-heading">
        <button
          class="accordion-button collapsed px-2"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#ds-form-detailed-information-accordion-body"
          aria-expanded="false"
          aria-controls="ds-form-detailed-information-accordion-body"
        >
          <span class="form-label">{{ i18n "detailed-information" }}</span>
        </button>
      </h2>
      <div
        id="ds-form-detailed-information-accordion-body"
        class="accordion-collapse collapse"
        aria-labelledby="ds-form-detailed-information-accordion-heading"
        data-bs-parent="#ds-form-detailed-information-accordion"
      >
        <div class="accordion-body px-0">
          <div class="row g-3">
            <!-- Field: Gesamtumfang der Daten -->
            <div class="col-md-6">
              {{ partial "form/input-generic-textfield.html" (dict
                "prefix" $prefix "suffix" "file-size-estimation" "label" (i18n "file-size")
                "placeholder" (i18n "placeholder-file-size") "tooltip" (i18n "tooltip-file-size"))
              }}
            </div>

            <!-- Field: Anzahl der Dateien -->
            <div class="col-md-6">
              {{ partial "form/input-generic-textfield.html" (dict
                "prefix" $prefix "suffix" "file-count-estimation" "label" (i18n "file-count")
                "placeholder" (i18n "placeholder-file-count") "tooltip" (i18n "tooltip-file-count"))
              }}
            </div>

            <!-- Field: Personenbezogene Daten ja/nein/weiß nicht -->
            <div class="col-md-6">
              {{ partial "form/input-drop-down.html" (dict
              "prefix" $prefix "suffix" "personal-data" "label" (i18n "personal-data")
              "tooltip" (i18n "tooltip-personal-data")
              "options" (slice
                (dict "weiß nicht" (i18n "drop-down-dont-know"))
                (dict "ja" (i18n "drop-down-yes"))
                (dict "nein" (i18n "drop-down-no" ))
                ))
              }}
            </div>

            <!-- Field: Daten von Dritten/Verlage/... -->
            <div class="col-md-12">
              {{ partial "form/input-generic-textfield.html" (dict "prefix"
                 $prefix "suffix" "third-party-data" "label" (i18n "third-party-data")
                 "placeholder" (i18n "placeholder-third-party-data") "tooltip" (i18n "tooltip-third-party-data")
                 "rows" "2") }}
            </div>

            <!-- Field: Art der Daten -->
            <div class="col-md-12">
              {{ partial "form/input-generic-textfield.html" (dict
                 "prefix" $prefix "suffix" "data-type" "label" (i18n "data-type")
                 "placeholder" (i18n "placeholder-data-type") "tooltip" (i18n "tooltip-data-type")) }}
            </div>

            <!-- Field: Sprache(n) -->
            <div class="col-md-6">
              {{ partial "form/input-generic-textfield.html" (dict
                 "prefix" $prefix "suffix" "language" "label" (i18n "languages")
                 "placeholder" (i18n "placeholder-language") "tooltip" (i18n "tooltip-language")) }} 
            </div>

            <!-- Field: Projektstatus -->
            <div class="col-md-6">
              {{ partial "form/input-drop-down.html" (dict
              "prefix" $prefix "suffix" "project-status" "label" (i18n "project-status")
              "tooltip" (i18n "tooltip-project-status")
              "options" (slice
                (dict "geplant" (i18n "project-status-planned"))
                (dict "in Entwicklung" (i18n "project-status-in-development" ))
                (dict "abgeschlossen" (i18n "project-status-completed"))
                (dict "weitere Versionen vorgesehen" (i18n "project-status-future-versions"))
                ))
              }}
            </div>
            <!-- Field: Geplanter Veröffentlichungszeitpunkt -->
            <div class="col-md-6">
              {{ partial "form/input-drop-down.html" (dict
              "prefix" $prefix "suffix" "publication-timeline" "label" (i18n "publication-timeline")
              "tooltip" (i18n "tooltip-publication-timeline")
              "options" (slice
                (dict "sofort" (i18n "publication-immediate"))
                (dict "1-3 Monate" (i18n "publication-1-3-months"))
                (dict "innerhalb von 6 Monaten" (i18n "publication-6-months"))
                (dict "innerhalb von 12 Monaten" (i18n "publication-12-months"))
                (dict "später" (i18n "publication-later"))
                ))
              }}
            </div>

            <!-- Field: Präferierte Lizenz -->
            <div class="col-md-6">
              {{ partial "form/input-generic-textfield.html" (dict
                "prefix" $prefix "suffix" "pref-license" "label" (i18n "preferred-license")
                "placeholder" (i18n "placeholder-pref-license") "tooltip" (i18n "tooltip-pref-license"))
              }}
            </div>

            <!-- Field: Interne Bereitstellung/Embargo -->
            <div class="col-md-12">
              {{ partial "form/input-generic-textfield.html" (dict
                "prefix" $prefix "suffix" "internal-provision" "label" (i18n "internal-provision")
                "placeholder" (i18n "placeholder-internal-provision") "tooltip" (i18n "tooltip-internal-provision"))
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- File Attachments -->
  <div class="col-12">
    {{ partial "form/input-file-upload.html" (dict "prefix" $prefix "label" (i18n "attachment-data-submission")) }}
  </div>

  <!-- Message Field -->
  <div class="col-12">
    {{ partial "form/input-message.html" (dict "prefix" $prefix "tooltip" (i18n "tooltip-ds-message") "rows" "2") }}
  </div>

  <!-- Name Field -->
  <div class="col-md-6">
    {{ partial "form/input-name.html" (dict "prefix" $prefix) }}
  </div>

  <!-- Email Field -->
  <div class="col-md-6">
    {{ partial "form/input-email.html" (dict "prefix" $prefix) }}
  </div>

  <div class="col-12">
    {{ partial "form/input-dpp.html" (dict "prefix" $prefix) }}
  </div>
  <div class="col-12">
    {{ partial "form/input-send-button.html" (dict "prefix" $prefix) }}
  </div>
</div>
<div id="support-form-error-field" class="alert alert-danger d-none mt-2" role="alert"></div>
<div id="support-form-success-field" class="alert alert-success d-none mt-2" role="alert"></div>
