{{ $support_js := resources.Get "js/support.ts" }}
{{/* this allows to use values from i18n in js/ts code but the file path has to be language-specific */}}

{{ $language_specific_js_path := printf "js/support-%s.ts" ($.Site.Param "languageHref") }}
{{ $language_specific_js := $support_js | resources.ExecuteAsTemplate $language_specific_js_path . }}
{{ $transformed_js := $language_specific_js | js.Build | resources.Minify | resources.Fingerprint }}


<script
  type="text/javascript"
  src="{{ $transformed_js.RelPermalink }}"
  integrity="{{ $transformed_js.Data.Integrity }}"
  async
  defer
></script>

{{ $prefix := "event" }}

{{/* TODO: placeholders and tooltips */}}
<div class="row g-3 mt-5">
  <div class="col-md-6">
    {{ partial "form/input-name.html" (dict "prefix" $prefix) }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-email.html" (dict "prefix" $prefix) }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-generic-textfield.html" (dict "prefix" $prefix "suffix" "title" "label" (i18n "event-title") "required" true) }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-generic-textfield.html" (dict "prefix" $prefix "suffix" "date-time" "label" (i18n "date-and-time") "required" true) }}
  </div>
  <div class="col-12">
    {{ partial "form/input-generic-textfield.html" (dict "prefix" $prefix "suffix" "desc" "label" (i18n "short-description") "required" true "rows" "3") }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-generic-textfield.html" (dict "prefix" $prefix "suffix" "location" "label" (i18n "location") "placeholder" "ggf. virtuell" "required" true) }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-generic-textfield.html" (dict 
    "prefix" $prefix "suffix" "location-url" "label" (i18n "label-location-url") 
    "placeholder" "URL Zoom/Teams/BigBlueButton etc.") }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-generic-textfield.html" (dict 
    "prefix" $prefix "suffix" "url" "label" (i18n "label-event-url") 
    "placeholder" "Externe Veranstaltungs-/Informationsseite") }}
  </div>
  <div class="col-md-6">
    {{ partial "form/input-file-upload.html" (dict "prefix" $prefix) }}
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="event-form-image-usable" />
      <label class="form-check-label" for="event-form-image-usable">
        {{ i18n "image-usable" }}
      </label>
      <p class="small text-gray-600">
        {{ i18n "image-disclaimer" }}
      </p>
    </div>
    {{ partial "form/input-dpp.html" (dict "prefix" $prefix) }}
  </div>
  <div class="col-12">
    {{ partial "form/input-send-button.html" (dict "prefix" $prefix) }}
  </div>
</div>
<div id="support-form-error-field" class="alert alert-danger d-none mt-2" role="alert"></div>
<div id="support-form-success-field" class="alert alert-success d-none mt-2" role="alert"></div>
