{{/* this shortcode basically reads all letters in .Inner,
  populates their title, letter-file, letter-type, link-text and link-url into the scratchpad
  and then generates a list from them

  can at most hold 100 entries
*/}}

{{/* adopted from https://stackoverflow.com/a/67066590 according to */}}

{{/* Call to .Inner needed to populate the Scratchpad */}}
{{ .Inner }}
{{ $letters := $.Scratch.Get "letters" }}
{{ $counter := 0 }}


<section class="mb-4 mt-4">
  <div class="row">
    {{ range $letters }}
      {{ $element := . }}
      {{ $prefixed_letter_file := $element.letter_file | printf "vernetzung/verbaende-verbuende/%s" }}
      <hr />
      <div class="col-8">
        <p>{{ $element.content | markdownify }}</p>
      </div>
      {{ with $element.letter_file }}
        <div class="col d-flex justify-content-end align-items-center">
          <p>
            {{ partial "link.html" (dict "url" $prefixed_letter_file "text" (strings.FirstUpper $element.letter_type | printf "Letter of %s") "new_tab" "true") }}
          </p>
        </div>
      {{ end }}
      {{ $counter = add $counter 1 }}
      {{ if eq (len $letters) $counter }}<hr />{{ end }}
    {{ end }}
  </div>
</section>
