{{ $filter_services_js := resources.Get "js/filter-services.ts" | js.Build | resources.Fingerprint }}
<script
  type="text/javascript"
  src="{{ $filter_services_js.RelPermalink }}"
  integrity="{{ $filter_services_js.Data.Integrity }}"
  async
  defer
></script>

{{ $data := index .Site.Data "registry-services" }}

{{ $filter_activities_list := partial "partials/service-list/get-ordered-filter-list.html" (dict "items" $data.items "property" "activity") }}
{{ $filter_keywords_list := partial "partials/service-list/get-ordered-filter-list.html" (dict "items" $data.items "property" "keyword") }}

{{/* create html elements for items */}}
<div class="container-fluid" id="service-list">
  <div class="row">
    <div class="col-12 col-md-3 col-lg-3 col-xl-3 col-xxl-2 pb-3">
      <div>
        <label for="service-search-field" class="h5">{{ i18n "search" }}</label>
        <input type="text" class="form-control fuzzy-search" id="service-search-field" />
      </div>
      {{/* create buttons for filtering */}}
      <div class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
        <div class="mt-2" id="filter-activities-container">
          <h5>Activities</h5>

          {{/* previewed filter list */}}
          <div id="activity-filter-list-preview">
            {{ range $activity := first 10 $filter_activities_list }}
              <div class="row my-1 ms-1 me-3">
                <button
                  class="btn btn-outline-secondary btn-xs text-break"
                  data-tag="{{ $activity.name }}"
                  data-toggle="button"
                  aria-pressed="false"
                  style="hyphens: none;"
                >
                  {{ $activity.name }}&nbsp;({{ $activity.count }})
                </button>
              </div>
            {{ end }}
          </div>

          {{/* full filter list */}}
          <div class="d-none" id="activity-filter-list-full">
            {{ range $activity := after 10 $filter_activities_list }}
              <div class="row my-1 ms-1 me-3">
                <button
                  class="btn btn-outline-secondary btn-xs"
                  data-tag="{{ $activity.name }}"
                  data-toggle="button"
                  aria-pressed="false"
                  style="hyphens: none;"
                >
                  {{ $activity.name }}&nbsp;({{ $activity.count }})
                </button>
              </div>
            {{ end }}
          </div>
        </div>

        {{/* button to show full filter list */}}
        <div class="row">
          <div class="col-11 d-flex justify-content-end">
            <a
              class="text-decoration-none"
              style="font-size: 0.75rem; cursor: pointer;"
              id="activity-list-button-show-more"
            >
              {{ i18n "btn-show-more" }}
              <i class="bi bi-chevron-down"></i>
            </a>
            <a
              class="text-decoration-none d-none"
              style="font-size: 0.75rem; cursor: pointer;"
              id="activity-list-button-show-less"
            >
              {{ i18n "btn-show-less" }}
              <i class="bi bi-chevron-up"></i>
            </a>
          </div>
        </div>

        <div id="filter-keywords-container">
          <h5>Keywords</h5>

          {{/* previewed filter list */}}
          <div id="keyword-filter-list-preview">
            {{ range $keyword := first 10 $filter_keywords_list }}
              <div class="row my-1 ms-1 me-3">
                <button
                  class="btn btn-outline-secondary btn-xs"
                  data-tag="{{ $keyword.name }}"
                  data-toggle="button"
                  aria-pressed="false"
                  style="hyphens: none;"
                >
                {{ $keyword.name }}&nbsp;({{ $keyword.count }})
              </button>
              </div>
            {{ end }}
          </div>

          {{/* full filter list */}}
          <div class="d-none" id="keyword-filter-list-full">
            {{ range $keyword := after 10 $filter_keywords_list }}
              <div class="row my-1 ms-1 me-3">
                <button
                  class="btn btn-outline-secondary btn-xs"
                  data-tag="{{ $keyword.name }}"
                  data-toggle="button"
                  aria-pressed="false"
                  style="hyphens: none;"
                >
                  {{ $keyword.name }}&nbsp;({{ $keyword.count }})
                </button>
              </div>
            {{ end }}
          </div>
        </div>

        {{/* button to show full filter list */}}
        <div class="row">
          <div class="col-11 d-flex justify-content-end">
            <a
              class="text-decoration-none"
              style="font-size: 0.75rem; cursor: pointer;"
              id="keyword-list-button-show-more"
            >
              {{ i18n "btn-show-more" }}
              <i class="bi bi-chevron-down"></i>
            </a>
            <a
              class="text-decoration-none d-none"
              style="font-size: 0.75rem; cursor: pointer;"
              id="keyword-list-button-show-less"
            >
              {{ i18n "btn-show-less" }}
              <i class="bi bi-chevron-up"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-9 col-lg-9 col-xl-9 col-9">
      <div class="list">
        {{/* create service entry html */}}
        {{ range sort $data.items "properties.title" }}
          {{/* limit the description to 300 chars and then match until the last full sentence is finished */}}
          {{ $short_description := findRE `[\S\s]*[.?!]\s` (truncate 300 .properties.description) 1 }}

          {{/* outer box for each entry */}}
          <div
            class="row d-flex justify-content-center p-3 rounded-1 border border-primary mb-3 hero-shadow"
          >
            {{/* inner box for thumbnail */}}
            <div class="col-xxl-3 col-5 p-1 pb-3 m-lg-0 mb-3 align-content-center">
              {{ with .properties.image }}
                {{/* load image as resource, so that it's stored on the server */}}
                {{ with resources.Get (printf "/img/service-images/%s" (index . 0).filename) }}
                  <img src="{{ .RelPermalink }}" class="img-fluid rounded" />
                {{ end }}
              {{ end }}
            </div>

            {{/* inner box for name, description and badges */}}
            <div class="col-xxl-7 col-12">
              <h5 class="name">{{ .properties.title }}</h5>
              <p class="short_description">{{ index $short_description 0 | markdownify }}</p>

              {{/* add activities as visible badges */}}
              {{ with .properties.activity }}
                <div class="d-none activities">{{ delimit . ", " }}</div>
                {{ range $activity := . }}
                  <span class="badge">{{ $activity }}</span>
                {{ end }}
              {{ end }}

              {{/* add not visible keywords (needed for list.js filtering) */}}
              {{ with .properties.keyword }}
                <div class="d-none keywords">{{ delimit . ", " }}</div>
              {{ end }}

            </div>

            {{/* inner box for 'further information'/URL button */}}
            <div class="col-xxl-2 col-12 d-flex align-items-end justify-content-end">
              {{ $btn_label := i18n "further-information" }}
              {{ $url := (printf "https://marketplace.sshopencloud.eu/%s/%s" .properties.category .properties.external_id) }}
              {{ partial "link.html" (dict "url" $url "text" $btn_label "class" "btn btn-sm btn-primary external-link text-nowrap") }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

{{ define "partials/service-list/get-ordered-filter-list.html" }}
  {{/* collect all possible filter-labels in a map with the count of each activity for later sorting */}}
  {{ $filter_map := dict }}
  {{ $property := .property }}

  {{/* loop over all items and their properties (activity or keyword) */}}
  {{ range .items }}
    {{ with (index . "properties" $property) }}
      {{ range $filter_property := . }}
        {{ with (index $filter_map $filter_property) }}
          {{/* when given activity/keyword is already in map, add 1 */}}
          {{ $filter_property_count := add . 1 }}
          {{ $filter_map = merge $filter_map (dict $filter_property $filter_property_count) }}
        {{ else }}
          {{/* otherwise add activity/keyword to map */}}
          {{ $filter_map = $filter_map | merge (dict $filter_property 1) }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{/* convert to list */}}
  {{/* list is needed for later sorting and showing only first 10 */}}
  {{ $filter_count_list := slice }}
  {{ range $filter, $count := $filter_map }}
    {{ $filter_count_list = $filter_count_list | append (dict "name" $filter "count" $count) }}
  {{ end }}

  {{ $filter_count_list = sort $filter_count_list "count" "desc" }}
  {{ return $filter_count_list }}
{{ end }}
