{{ $support_js := resources.Get "js/support.ts" }}
{{/* this allows to use values from i18n in js/ts code but the file path has to be language-specific */}}

{{ $language_specific_js_path := printf "js/support-%s.ts" ($.Site.Param "languageHref") }}
{{ $language_specific_js := $support_js | resources.ExecuteAsTemplate $language_specific_js_path . }}
{{ $transformed_js := $language_specific_js | js.Build }}

<script
  type="text/javascript"
  src="{{ $transformed_js.RelPermalink }}"
  integrity="{{ $transformed_js.Data.Integrity }}"
  async
  defer
></script>

{{ $prefix := "support" }}
<div id="{{ $prefix }}-form">
  <div class="row g-3 mt-2">
    <div class="col-md-6">
      {{ partial "form/input-name.html" (dict "prefix" $prefix) }}
    </div>
    <div class="col-md-6">
      {{ partial "form/input-email.html" (dict "prefix" $prefix) }}
    </div>
    <div class="col-12">
      {{ partial "form/input-drop-down.html" (dict
      "prefix" $prefix "suffix" "textplus-area" "label" (i18n "topic-label")
      "tooltip" (i18n "tooltip-textplus-area")
      "options" (slice
        (dict "Allgemeines" (i18n "drop-down-general"))
        (dict "Datendomäne Collections" (i18n "drop-down-collections"))
        (dict "Datendomäne Lexikalische Ressourcen" (i18n "drop-down-lexical-resources"))
        (dict "Datendomäne Editionen" (i18n "drop-down-editions"))
        (dict "Infrastruktur/Betrieb" (i18n "drop-down-io"))
        (dict "Technischer Support" (i18n "drop-down-technical-support"))
        (dict "Rechtliches und Ethisches" (i18n "drop-down-legal"))
        ))
      }}
    </div>
    <div class="col-12">
      {{ partial "form/input-message.html" (dict "prefix" $prefix) }}
    </div>
    <div class="col-12">
      {{ partial "form/input-file-upload.html" (dict "prefix" $prefix) }}
    </div>
    <div class="col-12">
      {{ partial "form/input-dpp.html" (dict "prefix" $prefix) }}
    </div>
    <div class="col-12 ">
      {{ partial "form/input-send-button.html" (dict "prefix" $prefix) }}
    </div>
  </div>
  <div id="support-form-error-field" class="alert alert-danger d-none mt-2" role="alert"></div>
  <div id="support-form-success-field" class="alert alert-success d-none mt-2" role="alert"></div>
</div>
