{{- $id := .Get "id" | default (.Get 1) -}}
{{- $user := .Get "user" | default (.Get 0 | default "x") -}}

{{ $embed_element_id := printf "twitter-embed-%v" .Ordinal }}
{{ $consent_js := resources.Get "js/consent-buttons.ts" | js.Build | resources.Minify | resources.Fingerprint }}

<script
    type="text/javascript"
    src="{{ $consent_js.RelPermalink }}"
    integrity="{{ $consent_js.Data.Integrity }}"
    async defer></script>

<div class="twitter-embed mb-4">
  <div class="form-check form-switch twitter-consent-banner consent-button">
    <div class="m-3">
      <input class="form-check-input" type="checkbox" role="switch" id="{{ $embed_element_id }}-consent-button">
      <label class="form-check-label" for="{{ $embed_element_id }}-consent-button">{{ i18n "consent-info-twitter" }}{{ partial "link.html" (dict "url" "privacy-policy" "text" (i18n "privacy-policy")) }}.</label>
    </div>
  </div>
  {{- template "render-tweet" (dict "id" $id "user" $user "dnt" "true") -}}
</div>

{{- define "render-tweet" -}}
  {{- $url := printf "https://twitter.com/%v/status/%v" .user .id -}}
  {{- $query := querify "url" $url "dnt" .dnt -}}
  {{- $request := printf "https://publish.twitter.com/oembed?%s" $query -}}
  {{- with try (resources.GetRemote $request) -}}
    {{- with .Err -}}
      {{- errorf "%s" . -}}
    {{- else with .Value -}}
      {{- $twitter_html := (. | transform.Unmarshal).html | safeHTML }}
      {{- $twitter_gdpr_html := replaceRE `\ssrc=` " no-consent-src=" $twitter_html -}}
      
      <div class="d-none twitter-gdpr-embed">
        {{- $twitter_gdpr_html | safeHTML -}}
      </div>
    {{- end -}}
  {{- else -}}
    {{- warnidf "shortcode-twitter-getremote" "The %q shortcode was unable to retrieve the remote data. See %s" .name .position -}}
  {{- end -}}
{{- end -}}