{{ $pages := site.Pages.ByParam "start_date" }}

<div class="standout">
  <div class="container p-3 p-md-0">
    {{ $displayLanguage := site.Language }}
    {{ range where (where $pages "Type" "event") "Params.hide_in_list" "!=" true }}
      {{ $date := time (.Params.end_date | default .Params.start_date ) }}
      {{ if now.Before $date }}
        {{ partial "event/event-list-single-event.html" . }}
      {{ end }}
    {{ end }}
  </div>
</div>
