{{- $ytHost := "www.youtube-nocookie.com" -}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $title := .Get "title" | default "YouTube Video" }}

{{ $embed_element_id := printf "youtube-embed-%v" .Ordinal }}
{{ $consent_js := resources.Get "js/consent-buttons.ts" | js.Build | resources.Minify | resources.Fingerprint }}
<script 
    type="text/javascript" 
    src="{{ $consent_js.RelPermalink }}" 
    integrity="{{ $consent_js.Data.Integrity }}" 
    async defer></script>

<div class="youtube-embed mb-4">
        <div class="form-check form-switch youtube-consent-banner consent-button">
            <div class="m-3">
                <input class="form-check-input" type="checkbox" role="switch" id="{{ $embed_element_id }}-consent-button">
                <label class="form-check-label" for="{{ $embed_element_id }}-consent-button">{{ i18n "consent-info-yt" }}{{ partial "link.html" (dict "url" "privacy-policy" "text" (i18n "privacy-policy")) }}.</label>
            </div>
        </div>

    <div class="d-none youtube-iframe-container" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; border-radius: px;">
        <iframe class="youtube-iframe" no-consent-src="https://{{ $ytHost }}/embed/{{ $id }}"
            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen
            title="{{ $title }}"></iframe>
    </div>
    {{ with .Inner }}
    <figcaption class="figure-caption">
        {{ . | markdownify }}
    </figcaption>
    {{ end }}
</div>