{{ $data := partial "partials/bibliographie/fetch-and-process-data" . }}

{{ $zotero_items := $data.Get "items" }}
{{ $zotero_items_by_year := $data.Get "itemsByYear" }}
{{ $years := $data.Get "years" }}

{{/* group by itemType */}}
{{ $zotero_items_by_type := dict }}
{{ range $item := $zotero_items }}
  {{ $type := $item.type }}
  {{ $new_list := slice }}
  {{ with index $zotero_items_by_type $type }}
    {{ $new_list = . | append $item }}
  {{ else }}
    {{ $new_list = slice $item }}
  {{ end }}
  {{ $zotero_items_by_type = merge $zotero_items_by_type (dict $type $new_list) }}
{{ end }}

{{/* get uniq list of types ascending */}}
{{ $types := slice }}
{{ range $type, $type_items := $zotero_items_by_type }}
  {{ $types = $types | append $type }}
{{ end }}
{{ $types = sort ($types | uniq) "value" "asc" }}

{{/* need to extract the keys only since hugo can't intersect dicts somehow ... */}}
{{ $zotero_items_by_year_keys := dict }}
{{ range $year, $items := $zotero_items_by_year }}
  {{ $keys := slice}}
  {{ range $item := $items }}
    {{ $keys = $keys | append $item.key }}
  {{ end }}
  {{ $keys = uniq $keys }}
  {{ $zotero_items_by_year_keys = merge $zotero_items_by_year_keys (dict $year $keys) }}
{{ end }}

{{ $zotero_items_by_type_keys := dict }}
{{ range $type, $items := $zotero_items_by_type }}
  {{ $keys := slice}}
  {{ range $item := $items }}
    {{ $keys = $keys | append $item.key }}
  {{ end }}
  {{ $keys = uniq $keys }}
  {{ $zotero_items_by_type_keys = merge $zotero_items_by_type_keys (dict $type $keys) }}
{{ end }}

{{ $zotero_keys := slice }}
{{ range $item := $zotero_items }}
    {{ $zotero_keys = $zotero_keys | append $item.key }}
{{ end }}
{{ $zotero_keys = uniq $zotero_keys }}

{{ define "partials/bibliographie/zotero-type-year-table-link-builder.html" }}
  {{ $url := .url | default "https://www.zotero.org/groups/4533881/textplus" }}
  {{ $tags := .tags | default slice }}
  {{ $year := .year | default 0 }}
  {{ if gt (len $tags) 0 }}
    {{ $tags_sanitized := slice }}
    {{ range $tag := $tags }}
      {{ $tag = printf "FABIO: %s" $tag }}
      {{ $tag = replace $tag "," "%2C" }}
      {{ $tag = replace $tag ":" "%3A" }}
      {{ $tags_sanitized = $tags_sanitized | append $tag }}
    {{ end }}
    {{ $tags_as_string := delimit $tags_sanitized "," }} 
    {{ $url = printf "%s/tags/%s" $url $tags_as_string }}
  {{ end }}
  {{ if ne $year 0 }}
    {{ $url = printf "%s/search/%s/titleCreatorYear" $url $year }}
  {{ end }}
  {{ $url = printf "%s/library" $url }}
  {{ return $url }}
{{ end }}

<table class="table table-reporting table-bordered-all table-hover">
  <thead>
    <tr>
      <th scope="col"></th>
      {{ range $year := $years }}
      <th scope="col">{{ $year }}</th>
      {{ end }}
      <th scope="col">gesamt</th>
    </tr>
  </thead>
  <tbody>
    {{ range $type := $types }}
    {{ $type_keys := index $zotero_items_by_type_keys $type }}
    {{ $zotero_url_for_type := partial "partials/bibliographie/zotero-type-year-table-link-builder" (dict "tags" (slice $type)) }}
    <tr>
      <th scope="row">{{ $type }}</th>
      {{ range $year := $years }}
      {{ $year_keys := index $zotero_items_by_year_keys $year }}
      {{ $keys_intersect := intersect $type_keys $year_keys }}
      {{ $zotero_url_for_type_and_year := partial "partials/bibliographie/zotero-type-year-table-link-builder" (dict "tags" (slice $type) "year" $year) }}
      <td title="for year '{{ $year }}' and type '{{ $type }}'" data-pub-keys="{{ delimit $keys_intersect "," }}">{{ if gt (len $keys_intersect) 0 }}{{ partial "link.html" (dict "url" $zotero_url_for_type_and_year "text" (len $keys_intersect)) }}{{ end }}</td>
      {{ end }}
      <td title="for type '{{ $type }}' for all years">{{ partial "link.html" (dict "url" $zotero_url_for_type "text" (len $type_keys)) }}</td>
    </tr>
    {{ end }}
    <tr>
      <th scope="row">gesamt</th>
      {{ range $year := $years }}
      {{ $year_keys := index $zotero_items_by_year_keys $year }}
      {{ $zotero_url_for_year := partial "partials/bibliographie/zotero-type-year-table-link-builder" (dict "year" $year) }}
      <td title="for year '{{ $year }}' for all publication types">{{ partial "link.html" (dict "url" $zotero_url_for_year "text" (len $year_keys)) }}</td>
      {{ end }}
      <td title="total publications">{{ partial "link.html" (dict "url" (partial "partials/bibliographie/zotero-type-year-table-link-builder" dict) "text" (len $zotero_items)) }}</td>
    </tr>
  </tbody>
</table>