{{ define "main" }}
  <div class="container p-3 p-md-0">
    <div class="row">
      {{ partial "data-competence-center/sidebar.html" . }}
      <div class="col-lg-6">
        {{ partial "nav/breadcrumbs.html" . }}
        <article class="competence-center d-flex flex-column gap-2 mb-5">
          <section class="post-content">{{ .Content }}</section>
        </article>
      </div>
      {{ partial "data-competence-center/sidebar-toc.html" . }}
    </div>
  </div>
{{ end }}
