
{{/* TODO: use link partial */}}

{{/* navigation default */}}
<div class="d-none d-lg-block">
  <div class="d-flex justify-content-between align-items-end border-bottom border-primary navbar-shadow mb-5">
    <div class="align-self-start align-self-stretch">
      <a class="d-flex align-items-center h-100 ms-lg-5 ms-xl-7 ms-4" style="width: 104px" href="{{ relLangURL "/" }}">
        <img src="/text-plus-logo.svg" alt="Text plus Logo" class="w-100" /></a>
    </div>

    <div class="d-flex flex-column mx-auto me-xl-6 mx-xxl-8">
      {{ partial "nav/socials-language-switcher.html" . }}
      <nav aria-label="Primary" class="navbar navbar-expand-md fs-5 p-0">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              {{ partial "nav/menu.html" . }}
            </ul>
          </div>
        </div>
      </nav>
      <div role="search">
        <div class="input-group mb-2">
          <div class="ms-auto me-3">
            {{ partial "nav/search-button.html" (dict "class" "btn-sm")}}
          </div>
          <div class="me-3">
            {{ partial "link.html" (dict "url" "helpdesk" "text" "Helpdesk" "class" "btn btn-sm btn-secondary" ) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{/* navigation while scrolling */}}
<div class="d-none d-lg-block">
  <nav class="navbar nav-medium d-none fixed-top bg-white border-bottom border-primary navbar-shadow p-0"
    style="min-width: 1200px">
    <div class="container-fluid">
      <a class="navbar-brand ms-xl-8 ms-4 d-flex align-items-center justify-content-center" href="{{ relLangURL "/" }}">
        <img src="/text-plus-logo.svg" alt="Text plus Logo" width="32" height="32" />
      </a>
      <ul class="navbar-nav gap-3 me-7" style="flex-direction: inherit">
        {{ partial "nav/menu.html" . }}
        <li class="nav-item pt-1 ms-3">
          {{ partial "nav/search-button.html" (dict "class" "btn-sm")}}
        </li>
        <li class="nav-item pt-1">
          {{ partial "link.html" (dict "url" "helpdesk" "text" "Helpdesk" "class" "btn btn-sm btn-secondary" ) }}
        </li>
      </ul>
    </div>
  </nav>
</div>

{{/* navigation mobile */}}
<div class="d-lg-none">
  <nav aria-label="Primary" class="navbar p-0">
    <div class="container-fluid border-bottom border-primary">
      <a class="navbar-brand ms-2" href="{{ relLangURL "/" }}">
        <img src="/text-plus-logo.svg" alt="Text plus Logo" width="44" height="44" />
      </a>
      {{ partial "nav/socials-language-switcher.html" . }}
      <div class="nav-item pe-3">
        {{ partial "nav/search-button.html" (dict "class" "btn-sm")}}
      </div>
      <div class="nav-item ms-auto pe-3">
        {{ partial "link.html" (dict "url" "helpdesk" "text" "Helpdesk" "class" "btn btn-sm btn-secondary" ) }}
      </div>
      <button class="navbar-toggler border-0 rounded-1" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          {{ partial "nav/menu.html" . }}
        </ul>
      </div>
    </div>
  </nav>
</div>

<div id="advanced-search-app" class="vuetify-css">
  <Search />
</div>
