<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
<meta name="dc.relation" content="{{ .Site.BaseURL }}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{{/*  load portal commons css  */}}
{{ $commons_css := resources.Get "sass/commons.scss" | css.Sass | css.PostCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $commons_css.RelPermalink }}" media="screen" />

{{/*  T+ CSS  */}}
{{ $options := (dict "targetPath" "css/styles.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "sass/main.scss" | css.Sass $options | css.PostCSS $options | resources.Minify | resources.Fingerprint | resources.PostProcess }}
{{ if eq hugo.Environment "staging" }}
  {{ $style = resources.Get "sass/main.scss" | css.Sass $options }}
{{ end }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />



<!-- advanced search integration -->
{{ $options := dict "config" "./config/searchintegration/postcss.config.js" "noMap" true }}
{{ $style := resources.Get "css/textplus-fcs-vuetify.css" | css.PostCSS $options | resources.Fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" media="screen" />

<link rel="icon" href="/favicon/favicon.svg" />
<link rel="manifest" href="/favicon/manifest.json" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#cd001f" />
<meta name="msapplication-TileColor" content="#245787" />
<meta name="theme-color" content="#245787" />

{{/* TODO: consider moving to footer.html */}}
{{ $defines := dict "process.env.HUGO_ENVIRONMENT" (printf "%q" hugo.Environment) }}
{{ $js := resources.Get "js/main.ts" | js.Build (dict "defines" $defines) | resources.Minify | resources.Fingerprint }}

<script
  type="text/javascript"
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  defer
></script>

<!-- advanced search integration -->
{{ $params := (dict
  "FCS_REST_BASE_URI" (.Param "SEARCH_FCS_REST_BASE_URI")
  "FCS_UI_BASE_URI" (.Param "SEARCH_FCS_UI_BASE_URI")
  "TEXTPLUS_PORTAL_SEARCH_DOCUMENTS" (.Param "SEARCH_TEXTPLUS_PORTAL_SEARCH_DOCUMENTS")
  "FCS_SERVICE_BLOCK" (.Param "SEARCH_FCS_SERVICE_BLOCK")) }}
{{ $defines2 := (dict
  "process.env.HUGO_ENVIRONMENT" (printf "%q" hugo.Environment)
  "process.env.NODE_ENV" `"production"`) }}
{{ $js := resources.Get "js/advancedsearch.ts" | js.Build (dict "sourceMap" "external" "defines" $defines2 "params" $params) | resources.Fingerprint }}

<script
  type="text/javascript"
  src="{{ $js.RelPermalink }}"
  integrity="{{ $js.Data.Integrity }}"
  async
  defer
></script>

{{ $bs5lightbox_js := resources.Get "js/bs5-lightbox.bundle.min.js" | resources.Minify | resources.Fingerprint| }}

<script
  type="text/javascript"
  src="{{ $bs5lightbox_js.RelPermalink }}"
  integrity="{{ $bs5lightbox_js.Data.Integrity }}"
  defer
></script>

{{ $matomo_js := resources.Get "js/matomo.js" | js.Build (dict "defines" $defines) | resources.Minify | resources.Fingerprint }}

<script
  type="text/javascript"
  src="{{ $matomo_js.RelPermalink }}"
  integrity="{{ $matomo_js.Data.Integrity }}"
  async
  defer
></script>
