<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb" class="small">
  <ol class="breadcrumb">
    {{ range last (sub (len .Ancestors) 1) .Ancestors.Reverse }}
      <li class="breadcrumb-item">
        {{ if .Content }}
          {{ partial "link.html" (dict "url" .RelPermalink "text" .Title "class" "")}}
        {{ else }}
          {{ .Title }}
        {{ end }}
      </li>
    {{ end }}
    {{ if and (eq .Type "user-story") (isset .Params "slug") }}
      <li class="breadcrumb-item active" aria-current="page">{{ .Params.slug | humanize | title }}</li>
    {{ else if and (eq .Type "competence-center") (isset .Params "short_name") }}
      <li class="breadcrumb-item active" aria-current="page">{{ .Params.short_name }}</li>
    {{ else }}
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    {{ end }}
  </ol>
</nav>
