{{ $currentPage := . }}
{{ range .Site.Menus.main }}
  {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a
        class="nav-link"
        href="{{ .URL }}"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ .Name }}
        <i class="bi bi-chevron-down"></i>
      </a>
      <ul class="dropdown-menu ms-2 mt-0 rounded-0">
        {{ range .Children }}
          <li>
            {{ partial "link.html" (dict "url" .URL "text" .Name "class" "dropdown-item")}}
          </li>
        {{ end }}
      </ul>
    </li>
  {{ else }}
    <li class="nav-item">
      {{ partial "link.html" (dict "url" .URL "text" .Name "class" "nav-link ")}}
    </li>
  {{ end }}
{{ end }}
