{{ $label := .label | default (i18n "search")}}
{{ $show_icon := .show_icon | default true }}
{{ $additional_classes := .class | default ""}}

<a class="btn btn-primary btn-search {{ $additional_classes }}">
    {{ if $show_icon }}
        <i class="bi bi-search"></i>
    {{ end }}
    {{ $label }}
</a>