<nav aria-label="Secondary" class="hstack ms-auto gap-2 me-2 p-2">
  <a href="https://x.com/Textplus_NFDI" aria-label="Twitter link"
    ><i class="bi bi-twitter-x text-primary me-2"></i
  ></a>

  <a href="https://nfdi.social/@Textplus" aria-label="Mastodon link"
    ><i class="bi bi-mastodon text-primary me-2"></i
  ></a>

  {{ $currentLang := $.Site.Language.Lang }}
  {{ range $.AllTranslations }}
    {{ $isNotCurrent := ne .Language.Lang $currentLang }}
    <a
      hreflang="{{ .Param "languageHref" }}"
      lang="{{ .Param "languageHref" }}"
      href="{{ .Permalink }}"
      class="text-decoration-none small {{ if $isNotCurrent }}text-gray-600{{ end }}"
    >
      {{ .Param "LanguageName" }}
    </a>
  {{ end }}

</nav>
