{{ $toc_js := resources.Get "js/toc.ts" | js.Build | resources.Minify | resources.Fingerprint }}
<script
  type="text/javascript"
  src="{{ $toc_js.RelPermalink }}"
  integrity="{{ $toc_js.Data.Integrity }}"
  async
  defer
></script>

<aside class="d-none d-lg-block col-lg-3 px-lg-5">
  <nav>
    <div id="toc-wrapper">
      <section class="document-toc-list">
        {{/* TableOfContents is configured to only include h2/## headings */}}
        {{ .TableOfContents }}
      </section>
    </div>
  </nav>
</aside>
