<div class="categorie d-flex d-inline-block border-bottom border-primary my-4">
  <span
    class="border rounded-top-left small text-primary border-bottom-0 border-primary d-inline-block px-2"
  >
  {{ partial "link.html" (dict
    "url" "https://textplus.hypotheses.org/"
    "text" "Text+ Blog"
    "class" "text-primary text-decoration-none")  }}
    
  </span>
</div>

<section class="card mb-3 text-secondary border-0 p-0" aria-label="latest blog entry">
  {{ with resources.GetRemote "https://textplus.hypotheses.org/feed" | transform.Unmarshal }}
    {{ range first 1 .channel.item }}
      <div class="card-body">
        {{ partial "link.html" (dict "url" .link "text" (.title) "class" "h5 text-decoration-none") }}
        <div class="mb-2 text-muted">
          <span>{{ .creator }}</span><br />
          <span class="small">{{ .pubDate | dateFormat "2. January 2006 15:04" }}</span><br />
        </div>
        {{ partial "blog-header-image.html" (dict "content" .encoded "title" .title) }}
        {{/* show post description */}}
        <p class="mt-2 card-text">
          {{/* removes the author line from description */}}
          {{ replaceRE "^Auth{0,1}or.*\n" "" .description | plainify | htmlUnescape }}
        </p>
      </div>
    {{ end }}
  {{ end }}

  {{ partial "link.html" (dict
    "url" "https://textplus.hypotheses.org/"
    "text" (i18n "open-blog")
    "class" "w-100 text-end d-block text-decoration-none external-link small")
  }}
</section>
