{{/*  TODO: aria labels for accessibility  */}}

{{ $all_day_event := (.Params.all_day | default false) }}
{{ $start_date := (time .Params.start_date) }}
{{ $end_date := time (.Params.end_date | default .Params.start_date) }}
{{ $title_length_limit := 300 }}


{{ $two_day_event := ne $end_date.Day $start_date.Day }}
{{ $month_overlap := ne $end_date.Month $start_date.Month }}
{{ $year_overlap := ne $end_date.Year $start_date.Year }}


<section class="card card-event mb-3 text-secondary border-secondary" aria-label="upcoming event">
  <div class="row g-0">
    <div class="col-5">
      <div
        class="d-flex flex-column justify-content-center align-items-center ps-3 ps-sm-4 text-center h-100"
        aria-label="event date"
      >
        {{/* prettier-ignore-start */}}
        <span><strong>
            {{ time.Format "Mon" $start_date }}{{ if $two_day_event }}{{- " – " -}}{{ time.Format "Mon" $end_date }}{{ end }}
        </strong></span>
        <span class="h2 m-0">
          {{ time.Format "02." $start_date }}{{ if $two_day_event }}{{- " – " -}}{{ time.Format "02." $end_date }}{{ end }}
        </span>
        <span><strong>
            {{ time.Format "January" $start_date }}{{ if $month_overlap }}{{- " – " -}}{{ time.Format "January" $end_date }}{{ end }}
        </strong></span>
        <span><strong>
            {{ time.Format "2006" $start_date }}{{ if $year_overlap }}{{- " – " -}}{{ time.Format "2006" $end_date }}{{ end }}
        </strong></span>
        {{/* prettier-ignore-end */}}
      </div>
    </div>
    <div class="col-7">
      <div class="d-flex flex-column p-3 p-sm-4 h-100">
        {{ if not $all_day_event }}
          <span class="pb-1" aria-label="event time">
            {{ time.Format "15:04" $start_date }}{{ if ne $start_date $end_date }}{{- " – " -}}{{ time.Format "15:04" $end_date }}{{ end }}
          </span>
        {{ end }}
        <h5>
          <a href="{{ .RelPermalink }}" class="text-decoration-none stretched-link">{{ substr .Title 0 $title_length_limit }}{{ if gt (len .Title) $title_length_limit }}...{{ end }} </a>
        </h5>
        <span>{{ .Params.location }}</span>
      </div>
    </div>
  </div>
</section>
