// @import "node_modules/bootstrap/scss/mixins";

:root {
  --bs-link-color: var(--bs-secondary);
  --dfg-cat-padding-right: 0.15rem;
  --dfg-cat-font-weight: 700;
}
// Typography
.large {
  font-size: 1.19rem;
  line-height: 2rem;
  font-variation-settings: "wght" 300;
}
@include media-breakpoint-down(md) {
  .large {
    font-size: 1rem;
    line-height: 1.75rem;
    font-variation-settings: "wght" 300;
  }
}
.display-1 {
  font-size: 4.31rem;
  line-height: 5.19rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
.display-2 {
  font-size: 3.56rem;
  line-height: 4.31rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}

.display-3 {
  font-size: 2.986rem;
  line-height: 3.88rem;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}

h1,
.h1 {
  font-size: 2.7368rem;
  line-height: 3.575rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  h1,
  .h1 {
    font-size: 2.074rem;
    line-height: 2.69rem;
    font-variation-settings: "wght" 700, "wdth" 87.5;
  }
}
.h1-subhead {
  font-size: 2.7368rem;
  line-height: 3.575rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 500, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  .h1-subhead {
    font-size: 2.074rem;
    line-height: 2.69rem;
    font-variation-settings: "wght" 500, "wdth" 87.5;
  }
}
h2,
.h2 {
  font-size: 2.074rem;
  line-height: 2.69rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  h2,
  .h2 {
    font-size: 1.728rem;
    line-height: 2.25rem;
    font-variation-settings: "wght" 700, "wdth" 87.5;
  }
}
.h2-subhead {
  font-size: 1.728rem;
  line-height: 2.25rem;
  font-variation-settings: "wght" 500, "wdth" 87.5;
}
h3,
.h3 {
  font-size: 1.728rem;
  line-height: 2.25rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  h3,
  .h3 {
    font-size: 1.44rem;
    line-height: 1.88rem;
    font-variation-settings: "wght" 700, "wdth" 87.5;
  }
}
h4,
.h4 {
  font-size: 1.44rem;
  line-height: 1.88rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  h4,
  .h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-variation-settings: "wght" 700, "wdth" 87.5;
  }
}
h5,
.h5 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  h5,
  .h5 {
    font-size: 1rem;
    line-height: 1.19rem;
    font-variation-settings: "wght" 700, "wdth" 87.5;
  }
}
.h5-subhead {
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 500, "wdth" 87.5;
}
h6,
.h6 {
  font-size: 1rem;
  line-height: 1.19rem;
  letter-spacing: 0.005em;
  font-variation-settings: "wght" 700, "wdth" 87.5;
}
@include media-breakpoint-down(sm) {
  h6,
  .h6 {
    font-size: 1rem;
    line-height: 1.19rem;
    font-variation-settings: "wght" 700, "wdth" 87.5;
  }
}
.lead {
  font-size: 1.45rem;
  line-height: 2.25rem;
  font-variation-settings: "wght" 500, 87.5;
}
@include media-breakpoint-down(sm) {
  .lead {
    font-size: 1.25rem;
    line-height: 2rem;
    font-variation-settings: "wght" 404, "wdth" 87.5;
  }
}
// Due to 'Roboto Flex' being a Flex font, in Bootstrap text classes
// 'font-variation-settings' needs to be set too.
.fw-light {
  font-weight: 300;
  font-variation-settings: "wght" 300;
}
.fw-medium {
  font-weight: 500;
  font-variation-settings: "wght" 500;
}

//
// Buttons
//

.btn {
  --bs-btn-border-radius: 0.25rem;
}
.btn-search:focus {
  border-color: $secondary !important;
}
// search icon in search bar
.bi-search:hover {
  color: $secondary !important;
}
.btn-primary {
  --bs-btn-hover-bg: #a10018;
}
.btn-secondary {
  --bs-btn-hover-bg: #1b4165;
}
.btn-xs,
.btn-group-xs > .btn {
  --bs-btn-padding-y: 0.1rem;
  --bs-btn-padding-x: 0.35rem;
  --bs-btn-font-size: 0.75rem;
  --bs-btn-border-radius: 0.25rem;
}

/* Shadows */
.hero-shadow {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
}
.navbar-shadow {
  box-shadow: 0px 4px 4px rgba(205, 0, 31, 0.1);
}

//
// Navigation
//

.navbar .nav-link {
  color: $gray-900;
}
.navbar .nav-item {
  padding-left: $spacer * 0.5;
}
.navbar .nav-link:hover,
.nav-link:focus {
  color: $primary;
}
.nav-pills .nav-link:hover {
  background-color: $secondary;
}
.navbar .dropdown-menu {
  border-color: $primary;
  border-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 3px;
}

.nav-medium .dropdown-menu {
  position: absolute;
}
.fadein {
  animation: fade-in 0.3s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Navigation TOC
.document-toc-list {
  list-style: none !important;
}

.document-toc-list ul {
  list-style: none !important;
  // copied from bootstrap.css -> small
  font-size: 0.875em;
  // copied from bootstrap.css -> d-flex
  display: flex !important;
  // copied from bootstrap.css -> flex-column
  flex-direction: column !important;
}

.document-toc-list a {
  text-decoration: none !important;
  color: $gray-700;

  // copied from bootstrap.css
  // d-block
  display: block !important;
  // border-1
  --bs-border-width: 1px;
  // ps-3
  padding-left: 1rem !important;
  // py-1
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  // border-start
  border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  // border-primary
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}

.document-toc-list a:hover {
  color: #a4001b !important;
}

.document-toc-list a[aria-current]:not([aria-current=""]):not([aria-current="false"]) {
  border-left: 4px solid !important;
  color: $primary;
  font-weight: 600;
}
.is-sticky {
  top: 100px;
  position: fixed;
}

// Colors
.text-gray-100 {
  color: $gray-100;
}
.text-gray-200 {
  color: $gray-200;
}
.text-gray-300 {
  color: $gray-300;
}
.text-gray-400 {
  color: $gray-400;
}
.text-gray-500 {
  color: $gray-500;
}
.text-gray-600 {
  color: $gray-600;
}
.text-gray-700 {
  color: $gray-700;
}
.text-gray-800 {
  color: $gray-800;
}
.text-gray-900 {
  color: $gray-900;
}

.bg-gray-100 {
  background-color: $gray-100;
}
.bg-gray-200 {
  background-color: $gray-200;
}
.bg-gray-300 {
  background-color: $gray-300;
}
.bg-gray-400 {
  background-color: $gray-400;
}
.bg-gray-500 {
  background-color: $gray-500;
}
.bg-gray-600 {
  background-color: $gray-600;
}
.bg-gray-700 {
  background-color: $gray-700;
}
.bg-gray-800 {
  background-color: $gray-800;
}
.bg-gray-900 {
  background-color: $gray-900;
}

// Custom color classes matching Bootstrap naming conventions
.border-collections {
  border-color: $collections !important;
}
.text-collections {
  color: $collections !important;
}
.bg-collections {
  background-color: $collections !important;
}
.border-resources {
  border-color: $resources !important;
}
.text-resources {
  color: $resources !important;
}
.bg-resources {
  background-color: $resources !important;
}
.border-editions {
  border-color: $editions !important;
}
.text-editions {
  color: $editions !important;
}
.bg-editions {
  background-color: $editions !important;
}
.border-io {
  border-color: $io !important;
}
.text-io {
  color: $io !important;
}
.bg-io {
  background-color: $io !important;
}

// data domain links on landing page
.data-domain-links a,
.btn {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.data-domain-links a.collections:hover,
.btn.collections:hover, .btn-secondary.collections {
  background-color: $collections !important;
  color: $white !important;
}
.data-domain-links a.resources:hover,
.btn.resources:hover, .btn-secondary.resources {
  background-color: $resources !important;
  color: $white !important;
}
.data-domain-links a.editions:hover,
.btn.editions:hover, .btn-secondary.editions {
  background-color: $editions !important;
  color: $white !important;
}
.data-domain-links a.io:hover,
.btn.io:hover, .btn-secondary.io {
  background-color: $io !important;
  color: $white !important;
}

// borders
.rounded-top-left {
  border-top-left-radius: var(--bs-border-radius) !important;
}

//
// links
//

a {
  // --bs-link-color: var(--bs-secondary) !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-underline-offset: 2px;
}
// we need to offset anchored links from the top because our medium header takes up 50px
:target:before {
  content: "";
  display: block;
  height: 75px;
  margin: -75px 0 0;
}

.external-link::after {
  content: "\00a0\00a0\00a0";
  width: 0.75rem;
  height: 0.75rem;
  margin-left: 4px;
  padding-top: 1ex;
  margin-top: -1ex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23245787' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text-primary.external-link::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23cd0022' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}

.btn.external-link:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23245787' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}

.btn.external-link:hover:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}

.btn-primary.external-link::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
}

footer a {
  color: $gray-700;
  text-decoration: none;
}
.breadcrumb a {
  text-decoration: none;
}
//
// Forms
//
.form-control::placeholder {
  color: $gray-400;
  opacity: 1;
}

.form-select::placeholder {
  color: $gray-400;
  opacity: 1;
}

// collapse form
/* Add transition to the icon */
#collapse-icon {
  transition: transform 0.3s ease;
}

/* Target the parent with the collapsed class and style the icon */
a.collapsed #collapse-icon {
  transform: rotate(90deg);
}

//
// Accordion
//
.accordion button {
  // Firefox fix
  font-variation-settings: "wght" 700;
}
.accordion .nav-pills button {
  // Vertical tab buttons
  font-variation-settings: "wght" 500;
  font-size: 0.85rem;
}

//
// Data Submission Form Accordion
//
.ds-form-accordion {
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23245787' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23245787' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
}

.ds-form-accordion .accordion-body {
  padding: 0;
}

.ds-form-accordion span.form-label {
  font-variation-settings: "wght" 400;
  margin: 0px;
  color: rgba(var(--bs-link-color-rgb),var(--bs-link-opacity,1));
}

.ds-form-accordion .accordion-button {
  background-color: white; // var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width))0 white;
  padding-top: 0;
  padding-bottom: 0;
}

.ds-form-accordion .row {
  margin: 0;
  padding-bottom: 8px;
}

.btn-form-file-upload {
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: #dee1e5;
}

//
// Lists
//
.user-story ol li {
  counter-increment: var;
}
.user-story ol li:before {
  content: counter(var) ".";
  padding-right: 0.5rem;
  margin-left: -1.75rem;
  padding-left: 0.4rem;
  color: $secondary;
  font-weight: 600;
}
.user-story ol {
  list-style: none;
  counter-reset: var;
}

.user-story ul li {
  counter-increment: var;
}
.user-story ul li:before {
  content: "•";
  padding-right: 0.5rem;
  margin-left: -1.35rem;
  padding-left: 0.4rem;
  color: $secondary;
  font-weight: 600;
}
.user-story ul {
  list-style: none;
  counter-reset: var;
}

//
// DFG categories
//

.dfg-cat-nr {
  size: 1rem;
  padding-right: var(--dfg-cat-padding-right);
  font-weight: var(--dfg-cat-font-weight);
}

// section styling because hugo can't apply classes to sections generated from markdown
// TODO: fix, this breaks other layouts
// .post-content h2 {
//   margin-top: 3rem !important;
// }

//
// Events
//
.card-event:hover {
  background-color: $secondary;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card-event:hover a {
  color: $white;
}
.card-event:hover span {
  color: $white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// Search
#search-results.dropdown-menu {
  top: 100%;
  box-shadow: 0 0.5rem 0.75rem rgba(37, 87, 135, 0.15);
}
#search-results.dropdown-menu a {
  text-decoration: none;
}
#search-results.dropdown-menu li {
  list-style-type: none;
  padding-top: 0.5rem;
}
#search-results-mobile.dropdown-menu {
  top: 100%;
  box-shadow: 0 0.5rem 0.75rem rgba(37, 87, 135, 0.15);
}
#search-results-mobile.dropdown-menu a {
  text-decoration: none;
}
#search-results-mobile.dropdown-menu li {
  list-style-type: none;
  padding-top: 0.5rem;
}

//
// Tables
//

.institutions a {
  padding-bottom: 1rem !important;
}

.table-bordered-all th,
.table-bordered-all tr,
.table-bordered-all td {
  border-width: 1px;
}

.table-reporting td {
  vertical-align: middle;
  text-align: center;
}
.table-reporting th[scope="row"] {
  white-space: nowrap;
}
.table-reporting td:last-child {
  font-style: italic;
  font-weight: bold;
}
.table-reporting tr:last-child > :not(th) {
  font-style: italic;
  font-weight: bold;
}
.table-reporting tr:not(:last-child) > td:not(:first-child):not(:last-child) {
  background-color: var(--bs-gray-100);
}
.table-reporting tr > td > a.external-link::after {
  content: unset;
}

//
// Bibliography
//

.csl-bib-tags {
  padding-left: 1.2em;
  font-size: .8rem;

  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.csl-bib-tags .badge {
  background-color: var(--bs-secondary);
}

.csl-bib-tags .badge.fabio {
  background-color: var(--bs-primary);
  order: -10;
}
.csl-bib-tags .badge.bg-collections,
.csl-bib-tags .badge.bg-editions,
.csl-bib-tags .badge.bg-resources,
.csl-bib-tags .badge.bg-io {
  order: -5;
}

/*! purgecss start ignore */
[class^="bi-bib-"]::before,
[class*=" bi-bib-"]::before {
  padding-inline-end: 1rem;
  font-size: 2rem;
  content: map-get($bootstrap-icons-map, "x-octagon"); // "x-octagon", "wrench-adjustable-circle"
}

.bi-bib-article-journal::before { content: map-get($bootstrap-icons-map, "journal"); }
.bi-bib-article::before { content: map-get($bootstrap-icons-map, "journal"); }
.bi-bib-book::before { content: map-get($bootstrap-icons-map, "book"); }
.bi-bib-chapter::before { content: map-get($bootstrap-icons-map, "book"); }
.bi-bib-entry-encyclopedia::before { content: map-get($bootstrap-icons-map, "info-square"); }
.bi-bib-motion_picture::before { content: map-get($bootstrap-icons-map, "film"); }
.bi-bib-paper-conference::before { content: map-get($bootstrap-icons-map, "file-richtext"); }
.bi-bib-post-weblog::before { content: map-get($bootstrap-icons-map, "person-video3"); }
.bi-bib-report::before { content: map-get($bootstrap-icons-map, "file-richtext"); }
.bi-bib-speech::before { content: map-get($bootstrap-icons-map, "person-circle"); }
.bi-bib-webpage::before { content: map-get($bootstrap-icons-map, "globe"); }

/* FABIO */
.bi-bib-blog-post::before { content: map-get($bootstrap-icons-map, "pencil-square"); }
.bi-bib-book::before { content: map-get($bootstrap-icons-map, "book"); }
.bi-bib-book-chapter::before { content: map-get($bootstrap-icons-map, "book-half"); }
.bi-bib-conference-paper::before { content: map-get($bootstrap-icons-map, "journal-richtext"); }
.bi-bib-conference-poster::before { content: map-get($bootstrap-icons-map, "image"); }
.bi-bib-dataset::before { content: map-get($bootstrap-icons-map, "database"); }
.bi-bib-instruction-manual::before { content: map-get($bootstrap-icons-map, "journal-text"); }
.bi-bib-item::before { content: map-get($bootstrap-icons-map, "box"); }
.bi-bib-journal-article::before { content: map-get($bootstrap-icons-map, "journal-richtext"); }
.bi-bib-movie::before { content: map-get($bootstrap-icons-map, "film"); }
.bi-bib-preprint::before { content: map-get($bootstrap-icons-map, "file-text"); }
.bi-bib-presentation::before { content: map-get($bootstrap-icons-map, "person-video3"); }
.bi-bib-reference-entry::before { content: map-get($bootstrap-icons-map, "journal-bookmark"); }
.bi-bib-report-document::before { content: map-get($bootstrap-icons-map, "journal-richtext"); }
.bi-bib-technical-standard::before { content: map-get($bootstrap-icons-map, "journal-code"); }
.bi-bib-web-page::before { content: map-get($bootstrap-icons-map, "globe"); }
.bi-bib-workshop-paper::before { content: map-get($bootstrap-icons-map, "journal-richtext"); }
/*! purgecss end ignore */

.badge {
  background-color: var(--bs-secondary);
}

// Consent-Banners/Buttons

.consent-button {
  border-radius: 21px;
  background-color: #EDEDED;
  width: 100%;
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.twitter-embed {
  justify-content: center;
  align-items: center;
  display: flex;
}
